.main {
    text-align: center;
}
.element {
    display: inline-block;
    width: 80%;
    height: 80%;
}
h1 {
    color: rgb(69, 188, 235);
    background-color: rgba(0, 0, 0, 0.76);
    padding: 10px;
    border-radius: 10px;
}
.karta {
    background-color: rgba(0, 0, 0, 0.76);
    border-radius: 10px;
    max-width: 100%;
    transition: all 0.3s;
    display: inline-block;
    margin: 10px 10px 0;
    text-align: center;
}
.karta:hover {
    box-shadow: 0 20px 40px aqua;
    transform: translateY(-10px);
}
h2 {
    font-size: 20px;
    text-align: center;
    height: 40px;
    color: rgb(69, 188, 235);
}
img {
    border-radius: 10px 10px 0 0;
    width: 210px;
}
.karti {
    background-color: rgba(59, 59, 59, 0.719);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}
body {
    background-color: #272727;
    margin: 0;
}
button {
    background-color: rgba(0, 0, 0, 0.76);
    color: rgb(69, 188, 235);
    border-radius: 10px;
    width: 170px;
    border: 1px solid rgb(69, 188, 235);
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
    transition: all 0.3s;
    padding: 5px;
}
button:hover {
    box-shadow: 0 20px 40px cyan;
    transform: translateY(-10px);
    background-color: rgb(69, 188, 235);
    color: white;
}
.game_iframe {
    height: 85%;
    width: 90%;
    left: 6%;
    position: absolute;
    border-radius: 10px;
    border: none;
}
#close_btn {
    position: absolute;
    margin: 10px;
}
.proverka {
    background-color: rgba(143, 36, 36, 0.76);
    padding: 10px;
}
header>nav>a {
    text-decoration: none;
    color: cyan;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid cyan;
    margin: 10px;
    display: inline-block;
}
* {
    transition: all 0.3s;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: black;
}
header>nav>a:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 40px cyan;
    background-color: cyan;
    color: black;
}
header>nav>.logo>img {
    width: 35px;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
}
.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: right;
    margin-right: 10px;
    border-radius: 10px;
}
.logo>h3 {
    color: cyan;
    margin-right: 10px;
}
.logo:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 40px cyan;
    background-color: cyan;
}
.logo:hover>h3 {
    color: black;
}
.avtori {
    background-color: rgba(0, 0, 0, 0.76);
    padding: 10px;
    width: 15%;
    border-radius: 10px;
}
.avtors_center {
    display: flex;
    justify-content: center;  
}
.avtori>h2 {
    background-color: rgba(59, 59, 59, 0.719);
    padding: 10px;
    border-radius: 10px;
    line-height: 40px;
}
.avtori>h2:hover {
    transform: translateY(-10px);
    border: 1px solid cyan;
    box-shadow: 0 0 40px cyan;
}
#admin_panel_tepa {
    background-color: #272727;
    border-radius: 10px;
    animation: admin_panel_tepka 3s ease;
}
#admin_panel_tepa::backdrop {
    backdrop-filter: blur(5px);
}
@keyframes admin_panel_tepka {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#secret_btn {
    background-color: yellow;
}
